<%- include('./partials/header.ejs') %>
<div class="container mt-5">
    <h1 class="text-success">Home Page</h1>
   <div class="row">
    <div class="col-md-6"> 
     <h2 class="alert alert-success text-center">Add New Student</h2>
     <form method="post">
         <div class="mb-3">
             <label for="name" class="form-lebel">Name</label>
             <input type="text" class="form-control" id="name" name="name" />
         </div>
         <div class="mb-3">
            <label for="email" class="form-lebel">Email</label>
            <input type="email" class="form-control" id="email" name="email" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-lebel">Password</label>
          <input type="text" class="form-control" id="password" name="password" />
      </div>
        <div class="mb-3">
          <label for="age" class="form-lebel">Age</label>
          <input type="text" class="form-control" id="age" name="age" />
      </div>
        <div class="mb-3">
            <label for="fees" class="form-lebel">Fees</label>
            <input type="text" class="form-control" id="fees" name="fees" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
     </form> 
    </div>
      <div class="col-md-6">
        <h2 class="alert alert-danger text-center">List of User</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% i = 1 %>
              <% users.forEach((user) => { %>
                <tr>
                  <td scope="col"><%= i++ %></td>
                  <td scope="col"><%= user.name %></td>
                  <td scope="col"><%= user.email %></td>
                  <td scope="col">
                    <form action="/user/edit/<%= user._id %>" class="d-inline">
                      <button type="submit"><i class="fa fa-edit"></i></button>
                    </form>
                    <form action="/user/delete/<%= user._id %>" class="d-inline">
                      <button type="submit"><i class="fa fa-trash"></i></button>
                    </form>
                    
                    </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
          </div>          
      </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>
